@import url(http://fonts.googleapis.com/css?family=Nunito);

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: #999;
  font: 400 16px/1.5em sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
  box-shadow: 0 5px 10px -5px #05286D;
}


input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input[type="submit"] {
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #D8D8D8;
}

input::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #BEBEBE;
}

.container {
  position: relative;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#login-form {
  width: 300px;
}

#login-form h3 {
  background-color: #6F7E97;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#login-form fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}

#login-form fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#login-form input {
  font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"],
#login-form input[type="text"] {
  border: 1px solid #ccc;
  padding: 12px 10px;
  width: 100%;
}

#login-form input[type="email"],
#login-form input[type="text"] {
  margin-bottom: 5px;
}

#login-form input[type="password"] {
  margin-top: 5px;
}

#login-form input[type="submit"] {
  background: #6F7E97;
  position: relative;
  left: 85px;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
}

#login-form input[type="submit"]:hover {
  box-shadow: -1px -1px 10px 1px #667290;
}

#login-form footer {
  font-size: 12px;
  margin-top: 16px;
}

.registation-form {
  position: relative;
  left: 55px;
}

.registation-form p {
  font-size: 12px;
}

.register-button  {
  text-decoration: none;
  font-size: 12px;
  color: #55A5FF;
}

.register-button:hover {
  color: #3E6DFF;
}

/* ============= Modal Page =============*/


.modal-container {
  position: absolute;
  background-color: #fff;
  top: 15%;
  left: 50%;
  width: 70%;
  max-width: 500px;
  padding: 40px 5px 40px 5px;
  box-shadow: -1px -1px 10px 1px #D2D2D2;

  transform: translate(-50%, -200%);
  -webkit-transform: translate(-50%, -200%);
  -moz-transform: translate(-50%, -200%);

  transition: transform 300ms ease-out;
  -webkit-transition: -webkit-transform 300ms ease-out;
  -moz-transition: -moz-transform 300ms ease-out;

}

.modal:before {
  content: "";
  position: absolute;
  display: none;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-container {
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
}

.modal-container input {
  position: relative;
  left: 13%;
  margin: 10px;
}

.modal-container input[type="login"],
.modal-container input[type="email"],
.modal-container input[type="password"] {
  border: 1px solid #ccc;
  padding: 12px 10px;
  width: 70%;
}

.modal-container input[type="submit"] {
  position: relative;
  left: 22%;
  width: 50%;
  padding: 12px 10px;
  background: #6F7E97;
  color: #fff;

}

.modal-container input[type="submit"]:hover {
  box-shadow: -1px 1px 15px 2px #667290;
}

.close {
    color: #B9B9B9;
    font: 16px/100% arial, sans-serif;
    padding: 5px;
    position: absolute;
    right: 1px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 2px;
}

.close:hover {
    color: #616161;
    font: 16px/100% arial, sans-serif;
    padding: 5px;
    position: absolute;
    right: 1px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 2px;
}

.close:after {
  content: '×';
}

.modal-container h1 {
  color: #999;
  text-align: center;
}
