body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.sprint-list {
    width: 800px;
}


.icon-remove {
    color: #f00;
}

.icon-edit {
    color: #008F00;
}

.spinner {
    margin-top: 10%;
    text-align: center;

}


.add-button {
    width: 100px;
    height: 30px;
}


/* Sprint Header Section */
.sprint-header {
    margin-top: 20px;
    margin-bottom: 10px;    
}

.sprint-header > h2 {
    display: inline;
}

.sprint-header > button {
    float: right;
    padding: 6px 30px;
}
    