  <div id="login-form">

    <h3>Scrum Board</h3>

    <fieldset>

      <form action="javascript:void(0);" method="get">

        <input type="text" ng-model="user.email" placeholder="login"> 

        <input type="password" ng-model="user.password" placeholder="password"> 

        <input type="submit" value="Sign In" ng-click="testClick(user)">

      </form>

    </fieldset>
    </div> <!-- end login-form -->
  <div class="registation-form">
     <p>
        Don't have an account? <a href="#registration" class="register-button">Create one.</a>
    </p>
  </div>