{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="app.auth">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>
  {% verbatim %}
	<div class="container" ng-controller="AuthController">

  <div id="login-form">

    <h3>Scrum Board</h3>

    <fieldset>

      <form action="javascript:void(0);" method="get">

        <input type="text" ng-model="user.email" placeholder="login"> 

        <input type="password" ng-model="user.password" placeholder="password"> 

        <input type="submit" value="Sign In" ng-click="testClick(user)">

        </div> <!-- end login-form -->

      </form>

    </fieldset>
  <div class="registation-form">
     <p>
        Don't have an account? <a href="#registration" class="register-button">Create one.</a>
    </p>
  </div>
    </div>

        <div class="modal" id="registration">
          <div class="modal-container">
            
            <h1>Registration</h1>

            <form action="javascript:void(0);" method="get">
              
              <input type="login" placeholder="Username"><br>
              <input type="email" placeholder="E-mail Address"><br>
              <input type="password" placeholder="Password"><br>
              <input type="password" placeholder="Confirm Password"><br>
          
            </form>
            <a href="#" class="close"></a>
        </div>

        </div>
    </div>
    {% endverbatim %}
    

    <!-- Vendors:js -->   
    <script src="{% static 'vendor/angular/angular.min.js' %}"></script>
    <script src="{% static 'vendor/angular-resource/angular-resource.min.js' %}"></script>

    <!-- auth -->    
    <script src="{% static 'app/components/auth/auth.module.js' %}"></script>
    <script src="{% static 'app/components/auth/auth.service.js' %}"></script>
    <script src="{% static 'app/components/auth/auth.controller.js' %}"></script>
</body>
</html>